.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.recipe-search {
  width: 400px;
  height: 30px;
  padding-left: 10px;
  margin-top: 40px;
  border-radius: 20px;
  border: none;
  outline: none;
}

.recipes-container {
  width: 1200px;
  margin-top: 100px;
}

.recipe-box {
  width: 300px;
  background-color: #fff;
}

.recipe-image {
  width: 100%;
  height: auto;
}

.recipe-box-text {
  padding: 20px;
}

.recipe-title {
  font-size: 26px;
  margin-bottom: 5px;
}
