.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.recipe-search {
  width: 400px;
  height: 40px;
  padding-left: 10px;
  margin-top: 60px;
  border-radius: 20px;
  border: none;
  outline: none;
}

.recipes-container {
  display: grid;
  align-items: center;
  gap: 100px;
  grid-template-columns: repeat(3, 1fr);
  margin: 100px auto;
}

.recipe-box {
  width: 300px;
  height: 350px;
  background-color: #fff;
}

.recipe-image {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.recipe-box-text {
  padding: 20px;
}

.recipe-title {
  font-size: 26px;
  margin-bottom: 5px;
}

.recipe-description {
  color: rgba(64, 64, 73, 1);
  word-break: break-all;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 10px;
}
