<div class="container">
  <input type="text" class="recipe-search" placeholder="Search recipes..." />
  <div class="recipes-container">
    <div class="recipe-box">
      <img
        src="../../../assets/images/khinkali.jpg"
        alt="recipe image"
        class="recipe-image"
      />
      <div class="recipe-box-text">
        <p class="recipe-title">Khinkali</p>

        <p class="recipe-description">
          Khinkali is the main food of the georgian cuisine
        </p>
      </div>
    </div>
  </div>
</div>
